.login_Register {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 60px);
  transform-style: preserve-3d;
  overflow: hidden;

  .navigantion_btn {
    display: flex;
    justify-content: center;
    align-items: center;

    & * {
      margin: 0 10px;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    width: 50%;
    @media only screen and (max-width: 700px) {
      min-height: 60%;
      width: 70%;
    }
    @media only screen and (max-width: 600px) {
      min-height: 60%;
      width: 80%;
    }
    @media only screen and (max-width: 400px) {
      min-height: 60%;
      width: 90%;
    }
    h2 {
      margin: 0;
    }
    div {
      display: flex;
      flex-direction: column;
    }
    input {
      margin-top: 3px;
      height: 18px;
      padding: 5px;
      border-radius: 5px;

      &:focus {
        outline: none;
      }
    }
  }
  .forgotPassword_form {
    height: 40%;
    @media only screen and (max-width: 992px) {
      width: 60%;
      min-height: 40%;

    }
    @media only screen and (max-width: 600px) {
      min-height: 45%;
      width: 70%;
    }
    @media only screen and (max-width: 400px) {
      min-height: 50%;
      width: 80%;
    }
  }
  .registerPassword_form{
    height: 65%;
    width: 50%;
    @media only screen and (max-width: 700px) {
      min-height: 60%;
      width: 70%;
    }
    @media only screen and (max-width: 600px) {
      min-height: 75%;
      width: 80%;
    }
    @media only screen and (max-width: 400px) {
      min-height: 80%;
      width: 90%;
    }
  }
  button {
    padding: 10px 5px;
    border-radius: 10px;
    color: white;
    border: none;
    font-size: 1rem;
    background-color: rgb(71, 71, 239);
    transition: all 0.4s;
    &:hover {
      transform: translateZ(10px);
      background-color: rgb(194, 194, 194);
      color: black;
    }
  }
  .login_btn,
  .register_btn {
    padding: 13px 0;
  }
}

.login_wrapper {
  height: 80%;
  width: 35%;
  position: absolute;
  perspective: 600px;
  border-radius: 20px;

  @media only screen and (max-width: 1200px) {
    height: 80%;
    width: 45%;
  }

  @media only screen and (max-width: 992px) {
    height: 80%;
    width: 50%;
  }

  @media only screen and (max-width: 768px) {
    height: 80%;
    width: 55%;
  }

  @media only screen and (max-width: 600px) {
    height: 60%;
    width: 70%;
  }
  @media only screen and (max-width: 400px) {
    height: 60%;
    width: 80%;
    margin-right: 50px;
  }
  .card {
    border-radius: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
  }

  .forgotPassword {
    text-align: end;
    margin: 10px 10px 0 0;
    color: blue;
    font-size: 1.1rem;
    cursor: pointer;
    &:hover {
      text-decoration: underline;

    }
  }
  .card__face {
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .front_face_login {
    background-color: orange;
    display: flex;
    flex-direction: column;
  }
  .back_face_register {
    background: orange;
    transform: rotateY(180deg);
  }

  .flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
}
.register {
  background-color: orange;
  height: 80%;
  width: 35%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;

  @media only screen and (max-width: 1200px) {
    height: 80%;
    width: 45%;
  }

  @media only screen and (max-width: 992px) {
    height: 80%;
    width: 50%;
  }

  @media only screen and (max-width: 768px) {
    height: 80%;
    width: 55%;
  }

  @media only screen and (max-width: 600px) {
    height: 60%;
    width: 60%;
  }
  @media only screen and (max-width: 400px) {
    height: 60%;
    width: 80%;
    margin-left: 50px;
  }

  // form {
  //   height: 70%;
  //   @media only screen and (max-width: 768px) {
  //     height: 80%;
  //   }
  // }

  #register_password {
    position: relative;

    p {
      display: none;
      position: absolute;
      font-size: 0.8rem;
      bottom: -28px;
      color: rgb(10, 197, 10);

      @media only screen and (max-width: 600px) {
        bottom: -22px;
      }
    }

    input:focus + p {
      display: block;
    }
  }
}
.rotate_Login_X {
  animation-name: roateLoginX;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.rotate_Register_X {
  animation-name: roateRegisterX;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.rotate_Login_Y {
  animation-name: roateLoginY;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.rotate_Register_Y {
  animation-name: roateRegisterY;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes roateLoginY {
  0% {
    z-index: 0;

    opacity: 0.5;
    transform: perspective(100px) translate3d(-10vw, 0px, -4vh);
  }
  50% {
    transform: perspective(100px) translate3d(-20vw, 0px, -4vh);
    opacity: 1;
  }
  100% {
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    transform: translate3d(-10vw, 0px, 0px);
    z-index: 1;

    opacity: 1;
  }
}
@media only screen and (max-width: 400px) {
  @keyframes roateLoginY {
    0% {
      opacity: 0.5;
      transform: perspective(100px) translate3d(2vw, 0px, -4vh);
    }

    50% {
      transform: perspective(100px) translate3d(1vw, 0px, -4vh);
      opacity: 1;
    }

    100% {
      box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
      transform: perspective(100px) translate3d(2vw, 0px, 0px);
      z-index: 1;
      opacity: 1;
    }
  }
}

@keyframes roateRegisterY {
  0% {
    opacity: 1;
    transform: translate3d(10vw, 0px, 0px);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  50% {
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    transform: perspective(100px) translate3d(20vw, 0px, 0px);
    opacity: 0.5;
  }
  100% {
    transform: perspective(100px) translate3d(10vw, 0px, -4vh);
    opacity: 0.5;
    z-index: 0;
  }
}

@media only screen and (max-width: 400px) {
  @keyframes roateRegisterY {
    0% {
      opacity: 1;
      transform: perspective(100px) translate3d(10vw, 0px, 0px);
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
      z-index: 1;
    }

    50% {
      box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
      transform: perspective(100px) translate3d(11vw, 0px, 0px);
      opacity: 0.5;
    }

    100% {
      transform: perspective(100px) translate3d(10vw, 0px, -4vh);
      opacity: 0.5;
      z-index: 0;
    }
  }
}
@keyframes roateLoginX {
  0% {
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    transform: translate3d(-10vw, 0px, 0px);
    opacity: 1;
    z-index: 1;
  }
  50% {
    transform: perspective(100px) translate3d(-20vw, 0px, 0px);
    opacity: 0.5;
    z-index: 0;
  }
  100% {
    opacity: 0.5;
    transform: perspective(100px) translate3d(-10vw, 0px, -4vh);
    z-index: 0;
  }
}

@media only screen and (max-width: 400px) {
  @keyframes roateLoginX {
    0% {
      box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
      transform: perspective(100px) translate3d(-10vw, 0px, 0px);
      opacity: 1;
      z-index: 1;
    }

    50% {
      transform: perspective(100px) translate3d(-11vw, 0px, 0px);
      opacity: 0.5;
      z-index: 0;
    }

    100% {
      opacity: 0.5;
      transform: perspective(100px) translate3d(-10vw, 0px, -4vh);
      z-index: 0;
    }
  }
}

@keyframes roateRegisterX {
  0% {
    transform: perspective(100px) translate3d(10vw, 0px, -4vh);
    opacity: 0.5;
    z-index: 0;
  }
  50% {
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
    transform: perspective(100px) translate3d(20vw, 0px, -4vh);
    opacity: 0.5;
    z-index: 1;
  }
  100% {
    opacity: 1;
    transform: translate3d(10vw, 0px, 0px);
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
}
@media only screen and (max-width: 400px) {
  @keyframes roateRegisterX {
    0% {
      transform: perspective(100px) translate3d(-1vw, 0px, -4vh);
      opacity: 0.5;
      z-index: 0;
    }

    50% {
      box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
      transform: perspective(100px) translate3d(0vw, 0px, -4vh);
      opacity: 0.5;
      z-index: 1;
    }

    100% {
      opacity: 1;
      transform: perspective(100px) translate3d(-1vw, 0px, 0px);
      box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
      z-index: 1;
    }
  }
}
