#Main_blog_full_container {
  padding: 25px 5vw 0 0;
}
#Main_blog_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#search_container {
  background-color: white;
  width: 11vw;
  border: 2px solid rgb(177, 176, 176);
  padding: 4px 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  .search_icon {
    color: rgb(152, 152, 152);
  }
  input {
    border: none;
    min-width: 0;
    margin-left: 5px;

    &:focus {
      outline: none;
    }
  }
}
#topics {
  display: flex;
  align-items: center;
  width: 70%;
  p {
    color: grey;
  }
  ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  li {
    border-radius: 20px;
    padding: 5px 15px;
    background-color: rgb(222, 221, 221);
  }
}

.single_blog_fullContainer {
display: flex;
justify-content: space-between;
border-top: 2px solid rgb(177, 176, 176);
margin-top: 25px;

.blog_container{
    width: 58%;
    margin-top: 25px;

}
.blog_profile_details{
display: flex;
align-items: center;
justify-content: space-between;
width: 245px;
}
.blog_profile_img{
    width: 40px;
    height: 40px;
    padding: 5px;
    border: 2px solid red;
    border-radius: 50%;
}
.blog_Profile_discription{
    display: flex;
    flex-direction: column;
    width: 70%;

}
.blog_user_name{
    display: flex;
    justify-content: space-between;
    align-items: center;

    h4{
        margin: 0;
    }
    h1{
        margin: 0 5px 0 0;
        padding: 0;
        color: black;
    }
    p{
        margin: 0 0 5px 0;
        display: flex;
        align-items: center;
        font-size: 12px;
        color: grey;
    }

}
.blog_user_position{
    color: gray;
}
.blog_img_container{
    width: 38%;
    height: 20vh;
    align-self: flex-end;
    border-radius: 10px;
    overflow: hidden;
}

 
}
