#navbar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(203, 203, 203);
  padding: 0 3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  z-index: 2;
  background-color: rgb(238, 238, 238);

  @media only screen and (max-width: 600px) {
    padding: 0 1rem;
  }

  a{
    text-decoration: none;
    color: inherit;
  }
  #left {
    cursor: pointer;
  }

  #cross_icon {
    box-sizing: border-box;
    width: 100%;
    text-align: end;
    padding: 10px 15px 0 0;
    & * {
      cursor: pointer;
    }
  }
  #right {
    display: flex;
    align-items: center;

    div {
      margin-left: 20px;
    }
    .login_btn, .register_btn{
      box-sizing: border-box;
      color: rgb(255, 255, 255);
      font-size: 1.2rem;
      // border: 2px solid black;
      border-radius: 7px;
      background-color: rgb(39, 39, 184);
      padding: 2px 12px 5px 12px;
      transition: all 0.4s;

      &:hover{
        background-color: grey;
        color: black;
      }
    }
    .register_btn{
      background-color: rgb(184, 70, 39);

    }
  }

  #profile_container {
    width: 38px;
  }
  #write_blog {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    border: 2px solid rgb(203, 203, 203);
    padding: 7px 20px;
    border-radius: 20px;

    h5 {
      margin: 0 0 0 5px;
    }
  }
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  width: 220px;
  background-color: black;
  color: white;
  transition: all 0.6s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  #all_list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h3 {
      padding: 0px 20px;
    }
    div {
      width: 90%;
    }
    ul {
      list-style: none;
      padding: 0;
      width: 100%;
    }
    
    li {
      padding: 3px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4px;
      border-radius: 10px;
      transition: all 0.3s ease;
      cursor: pointer;
      &:hover {
        background-color: white;
        color: black;
      }
    }
  }

  footer{
    align-self: center;
    height: 7vh;

  }
  #logout_btn{
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 5px;
  border: none;
  transition: all 0.4s ease;
  cursor: pointer;

  &:hover{
    background-color: rgb(43, 43, 223);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.356);
    color: white;

  }
  p{
    font-size: 1.2rem;
    margin: 0 0 0 5px;

  }
  }
}
.open {
  transform: translateY(0);
}

.close {
  transform: translateX(-100%);
}
