body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(238, 238, 238);
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#navbar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(203, 203, 203);
  padding: 0 3rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 2;
  background-color: rgb(238, 238, 238);
}
@media only screen and (max-width: 600px) {
  #navbar {
    padding: 0 1rem;
  }
}
#navbar #left {
  cursor: pointer;
}
#navbar #cross_icon {
  box-sizing: border-box;
  width: 100%;
  text-align: end;
  padding: 10px 15px 0 0;
}
#navbar #cross_icon * {
  cursor: pointer;
}
#navbar #right {
  display: flex;
  align-items: center;
}
#navbar #right div {
  margin-left: 20px;
}
#navbar #profile_container {
  width: 38px;
}
#navbar #write_blog {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: 2px solid rgb(203, 203, 203);
  padding: 7px 20px;
  border-radius: 20px;
}
#navbar #write_blog h5 {
  margin: 0 0 0 5px;
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  width: 220px;
  background-color: black;
  color: white;
  transition: all 0.6s ease;
}
#sidebar #all_list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sidebar #all_list h3 {
  padding: 0px 20px;
}
#sidebar #all_list div {
  width: 90%;
}
#sidebar #all_list ul {
  list-style: none;
  padding: 0;
  width: 100%;
}
#sidebar #all_list li {
  padding: 3px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4px;
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}
#sidebar #all_list li:hover {
  background-color: white;
  color: black;
}

.open {
  transform: translateY(0);
}

.close {
  transform: translateX(-100%);
}

#home {
  padding: 59px 5vw 0 5vw;
  display: flex;
  min-height: 93vh;
}
#home .blog_main_cont {
  width: 70%;
  border-right: 2px solid rgb(203, 203, 203);
}
#home aside {
  width: 30%;
  display: flex;
  justify-content: center;
}

#Main_blog_full_container {
  padding: 25px 5vw 0 0;
}

#Main_blog_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#search_container {
  background-color: white;
  width: 11vw;
  border: 2px solid rgb(177, 176, 176);
  padding: 4px 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
#search_container .search_icon {
  color: rgb(152, 152, 152);
}
#search_container input {
  border: none;
  min-width: 0;
  margin-left: 5px;
}
#search_container input:focus {
  outline: none;
}

#topics {
  display: flex;
  align-items: center;
  width: 70%;
}
#topics p {
  color: grey;
}
#topics ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
#topics li {
  border-radius: 20px;
  padding: 5px 15px;
  background-color: rgb(222, 221, 221);
}

.single_blog_fullContainer {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid rgb(177, 176, 176);
  margin-top: 25px;
}
.single_blog_fullContainer .blog_container {
  width: 58%;
  margin-top: 25px;
}
.single_blog_fullContainer .blog_profile_details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 245px;
}
.single_blog_fullContainer .blog_profile_img {
  width: 40px;
  height: 40px;
  padding: 5px;
  border: 2px solid red;
  border-radius: 50%;
}
.single_blog_fullContainer .blog_Profile_discription {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.single_blog_fullContainer .blog_user_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single_blog_fullContainer .blog_user_name h4 {
  margin: 0;
}
.single_blog_fullContainer .blog_user_name h1 {
  margin: 0 5px 0 0;
  padding: 0;
  color: black;
}
.single_blog_fullContainer .blog_user_name p {
  margin: 0 0 5px 0;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: grey;
}
.single_blog_fullContainer .blog_user_position {
  color: gray;
}
.single_blog_fullContainer .blog_img_container {
  width: 38%;
  height: 20vh;
  align-self: flex-end;
  border-radius: 10px;
  overflow: hidden;
}

.full_aside_conatiner {
  padding: 25px 0 0 3vw;
}
.full_aside_conatiner .trending_topics h2 {
  margin: 0;
}
.full_aside_conatiner .trending_topics ol {
  padding: 0 0 0 30px;
  margin: 10px 0 0 0;
}
.full_aside_conatiner .intrested_people {
  margin-top: 3vh;
}
.full_aside_conatiner .intrested_people_profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.full_aside_conatiner .intrested_people_profile h4 {
  margin: 0;
}
.full_aside_conatiner .intrested_people_profile p {
  margin: 0;
  line-height: 13px;
  font-size: 13px;
  color: grey;
}
.full_aside_conatiner .intrested_people_img {
  width: 35px;
  height: 35px;
  border: 2px solid red;
  border-radius: 50%;
  padding: 5px;
}
.full_aside_conatiner .intrested_people_left {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;
}
.full_aside_conatiner .intrested_people_details {
  width: 75%;
}
.full_aside_conatiner .intrested_people_btn {
  width: 20%;
}
.full_aside_conatiner .intrested_people_btn button {
  border-radius: 10px;
  padding: 5px 10px;
  transition: all 0.4s;
  cursor: pointer;
}
.full_aside_conatiner .intrested_people_btn button:hover {
  background-color: rgb(43, 46, 226);
  color: white;
}

.recently_readed {
  margin-top: 3vh;
}

.readed_blog {
  display: flex;
  margin-bottom: 20px;
}
.readed_blog .readed_blog_img {
  width: 40%;
  margin-right: 10px;
}
.readed_blog h4 {
  margin: 0;
  line-height: 16px;
}
.readed_blog p {
  margin: 7px 0 0 0;
  font-size: 14px;
  color: gray;
  line-height: 14px;
}

.readed_blog_details {
  width: 60%;
}

/*# sourceMappingURL=index.css.map */
